* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-family: 'Josefin Sans';
    line-height: 1.5;
}
.a { 
    line-height: 10px; 
} 
 
.b { 
    line-height: 30px; 
} 
 
.c { 
    line-height: 0.5cm; 
}
body {
    padding: 2rem 2.5rem;
    background: #fcebe1;
}

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
   width: 200px;
  height: 3px;   
}

#rcorners3 {
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 200px;
  height: 3px;  
}
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  width: 400px;
 
  line-height: 26px;
  margin-bottom: 10px;
}



input {
    
    border-radius: 2em;
    border: none;
    margin: 0.5em;
    padding: 0.8em;
    
    
    font-size: 1.0em;
    padding-left: 1.5em;
    
    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
}
button {
    
    border-radius: 2em;
    border: none;
    margin: 0.5em;
    padding: 0.8em;
    text-align: center;
    width: 120px;
    font-size: 1.0em;
    padding-left: 1.0em;
    
    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
}